MvcDemoDavi/Connected Services/Svr_datamdavi/Svrdatam3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63535/Svrdatam.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Demodavi" />
  <xs:element name="insercion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opt" type="xs:int" />
        <xs:element minOccurs="0" name="idusu" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecnaci" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insercionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insercionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dtusuar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DtusuarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Demodavi" minOccurs="0" name="DtusuarResult" nillable="true" type="q1:listusu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dtusuarparami">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numi" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DtusuarparamiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Demodavi" minOccurs="0" name="DtusuarparamiResult" nillable="true" type="q2:listusuparami" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>